@charset "UTF-8";

// 代码块中涉及到变量，使用混合宏来创建相同的代码块。
@mixin border-radius($width, $radius: 3px) {
  width: $width;
  border-radius: $radius;
}

.btn {
  // “@include”来调用声明好的混合宏。
  @include border-radius(500px);
}

// 带有多个参数，这个时候可以使用“ … ”来替代。
@mixin box-shadow($shadows...) {
  @if length($shadows) >= 1 {
    box-shadow: $shadows;
  } @else {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  }
}

.box2 {
  @include box-shadow(0 0 1px rgba(0, 0, 0, 0.5), 0 0 2px rgba(0, 0, 0, 0.2));
}