<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .oushu{
            color: red;
        }

        .jishu{
            color: blue;
        }

        .size{
            color: green;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <p>{{1+1}}</p>
        <p ng-bind="1+1"></p>
        <p ng-bind-template="{{1+1}}"></p>

        <!--{类名:boolean}-->
        <!--ng-init初始化数据-->
        <!--{size:boolean}-->
        <ul ng-class="{size:status}" ng-init="cityAttr = ['shanghai','beijing','guangzhou']">
            <li ng-repeat="city in cityAttr" ng-class-even="'oushu'" ng-class-odd="'jishu'">
                <span>
                    <!--是否为当前索引-->
                    index: {{$index}}
                </span>
                <span>
                    <!--是否为头元素-->
                    first: {{$first}}
                </span>
                <span>
                    <!--是否为非头非尾元素-->
                    middle: {{$middle}}
                </span>
                <span>
                    <!--是否为尾元素-->
                    last: {{$last}}
                </span>
                <span>
                    {{city}}
                </span>
            </li>
        </ul>

        <!--跳转到其他页面-->
        <div ng-include="'a.html'"></div>

        <!--23-->
        <button ng-click="changeStatus($event)">change status</button>
        <p>{{status}}</p>

        <!--24-->
        <div ng-style="defaultStyle" ng-show="status">
            ng-style
        </div>

        <ul ng-switch on="status">
            <li ng-swtich-when="true">
                true
            </li>
            <li ng-swtich-when="false">
                false
            </li>
        </ul>

        <img ng-src="{{src}}" alt="">

        <div ng-if="status">
            ng-if show
        </div>
    </div>

<script type="text/javascript" src="../vendor/angular/angular.min.js"></script>
<script type="text/javascript" src="app/index.js"></script>

</body>
</html>