@charset "UTF-8";

.test1 {
	content: unquote('Hello Sass');
}

.test2 {
	content: unquote('Hello Sass');
}

.test3 {
	content: unquote("'Hello Sass!'");
}

.test4 {
	content: unquote('"Hello Sass!"');
}

.test5 {
	color: #00f;
	// content: unquote("I'm Web Designer");
}

// unquote() 函数只能删除字符串最前和最后的引号（双引号或单引号），
// 而无法删除字符串中间的引号。如果字符没有带引号，返回的将是字符串本身。
